.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  margin: 0 0 2px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: 400;
  transition: 0.4s;

  @media only screen and (max-width: 450px) {
    position: relative;
    padding-right: 40px;
  }

  &.medicina-rada {
    margin-bottom: 0;
  }

  &.medicina-rada:after,
  &.medicina-rada.active:after {
    content: '';
  }
  

  &.active:after {
    content: "\2212";
  }

  &.active, &.accordion:hover {
    background-color: #ccc;
  }
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;

  @media only screen and (max-width: 450px) {
    position: absolute;
    bottom: 0;
    height: 20px;
    right: 25px;
    margin: auto 0;
    top: 0;
    position: absolute;
  }
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  &.medicina-rada {
    max-height: none;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 163, 200, .5), rgba(0, 163, 200, .4));

    ul {
      margin-top: 0;
      
      li {
        margin-bottom: 5px;
      }
    }
  }

  &.medicina-rada.cjenik {
    padding: 0;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: #777;
  }

  ul {
    padding-left: 20px;

    &.cjenik {
      padding: 10px;
      margin-top: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        span:last-of-type {
          margin-left: 50px;
          white-space: nowrap;
        }
      }
    }
  }

  ul li {
    list-style-type: circle;
    margin-bottom: 2px;
  }
}