#homepage-header .container {
  max-width: 1400px;
}

.slide-show {

  .container {
    max-width: 1400px;

    @keyframes slidy {
      0% { background-image: url('../img/img1.jpg')}
      30% { background-image: url('../img/img1.jpg')}
      33% { background-image: url('../img/img2.jpg')}
      60% { background-image: url('../img/img2.jpg')}
      66% { background-image: url('../img/img3.jpg')}
      100% { background-image: url('../img/img3.jpg')}
    }
      
     #slider {
      height: 50vh;
      overflow: hidden;
      position: relative;
      max-height: 500px;
      backface-visibility: hidden;
      background-size: cover;
      background-position: 50% 30%;
      animation: slidy 20s linear infinite;
      

      @media only screen and (min-width: 768px) {
        background-position: 0 30%;
        height: 100vh;
      }

      @media only screen and (min-height: 800px) {
        height: 65vh;
        max-height: none;
      }
    }

    .cubes {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1200px;
      height: 170px;
      left: 0;
      top: 100%;

      @media only screen and (min-width: 1200px) {
        max-width: 1400px;
      }

      > a {
        cursor: pointer;
        width: 100%;
        height: 170px;
        position: relative;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center top 30px;
        transition: all .2s ease;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          width: calc(100% / 2);
          height: 200px;
        }

        @media only screen and (min-width: 1200px) {
          width: calc(100% / 4);
          height: 200px;
        }

        h2 {
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 20px;
          font-size: 16px;
          color: #fff;
        }  

        &:first-of-type {
          background-color: #02A3C8;
          //background-size: 70px;
          background-image: url('../img/svg/stethoscope.svg');
        }

        &:nth-of-type(2) {
          background-color: #0297B9;
          background-image: url('../img/svg/chat.svg');
        }

        &:nth-of-type(3) {
          background-color: #018EAF;
          background-image: url('../img/svg/doctor.svg');
        }

        &:last-of-type {
          background-color: #0186A4;
          background-image: url('../img/svg/heart.svg');
        }

        &:hover {
          background-size: 73px;
          opacity: .8;
        }
      }
    }
  }
}