.slide-show {

  .container {
    position:relative;

    img {
      width: 100%;
    }

    @keyframes slidy {
      0% { left: 0%; }
      20% { left: 0%; }
      33% { left: 0%; }
      45% { left: -100%; }
      50% { left: -100%; }
      66% { left: -100%; }
      75% { left: -200%; }
      95% { left: -200%; }
      100% { left: -200%; }
    }

    @keyframes slidyTop {
      0% { top: 0; }
      50% { top: 25%; }
      100% { top: 50%; }
    }
      
     #slider {
      overflow: hidden;
      position: relative;

      figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 30s slidy infinite;

        img {
          width: 20%;
          float: left;
        }
      }
     }

    .cubes {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1170px;
      height: 170px;
      position: absolute;
      left: 0;
      top: 100%;

      > a {
        cursor: pointer;
        width: 100%;
        height: 170px;
        position: relative;
        background-size: 70px;
        background-repeat: no-repeat;
        background-position: center top 30px;

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          width: calc(100% / 2);
          height: 200px;
        }

        @media only screen and (min-width: 1200px) {
          width: calc(100% / 4);
          height: 200px;
        }

        h5 {
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          font-size: 16px;
          color: #fff;
        }  

        &:first-of-type {
          background-color: #02A3C8;
          background-size: 70px;
          background-image: url('../img/svg/stethoscope.svg');
        }

        &:nth-of-type(2) {
          background-color: #0297B9;
          background-image: url('../img/svg/chat.svg');
        }

        &:nth-of-type(3) {
          background-color: #018EAF;
          background-image: url('../img/svg/doctor.svg');
        }

        &:last-of-type {
          background-color: #0186A4;
          background-image: url('../img/svg/heart.svg');
        }
      }
    }
  }
}