@import url("https://fonts.googleapis.com/css?family=Varela+Round");
.social-contact {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00a3c8;
}
@media only screen and (max-width: 900px) {
  .social-contact {
    display: none;
  }
}
.social-contact .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}
.social-contact .container a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 300;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.social-contact .container a.facebook {
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 0 10px;
  background-image: url("../img/svg/facebook.svg");
}
.social-contact .container a.instagram {
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 0 auto 0 0;
  background-size: 15px;
  background-image: url("../img/svg/instagram.svg");
}
.social-contact .container a.phone {
  background-image: url("../img/svg/phone.svg");
  margin-left: auto;
}
.social-contact .container a.work-hours {
  background-image: url("../img/svg/clock.svg");
}
.social-contact .container a.email {
  background-image: url("../img/svg/mail.svg");
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.navigation .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}
.navigation .container .navigation-tabs {
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .navigation .container .navigation-tabs > li:nth-of-type(n + 2) {
    display: none;
  }
}
.navigation .container .navigation-tabs > li:before {
  content: "";
  height: 3px;
  width: 3px;
}
.navigation .container .navigation-tabs > li > a {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  margin-left: 35px;
  text-decoration: none;
}
.navigation .container .navigation-tabs > li > a.active {
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li > a:hover {
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li:first-of-type {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 45px;
}
.navigation .container .navigation-tabs > li:first-of-type a {
  margin-left: 0;
}
.navigation .container .navigation-tabs > li:first-of-type:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/snake.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.navigation .container .navigation-tabs > li:first-of-type h1 {
  font-size: 26px;
  margin: 0;
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li:first-of-type h1 span {
  color: #333;
}
.navigation .container .navigation-tabs > li:first-of-type p {
  margin: 0 0 -9px;
  color: gray;
}
.navigation .container .navigation-tabs .dropdown {
  position: absolute;
  display: none;
  transition: all 0.4s ease-in-out;
  padding: 0;
  right: 0;
  margin: 0;
  top: 100%;
  background: #fff;
  white-space: nowrap;
  border: 1px solid #eee;
  z-index: 1;
  box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.51);
  border: none;
}
.navigation .container .navigation-tabs .dropdown li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  color: #666;
}
.navigation .container .navigation-tabs .dropdown li:hover {
  background: #00a3c8;
  color: #fff;
}
.navigation .container .navigation-tabs .contact-dropdown {
  position: relative;
}
.navigation .container .navigation-tabs .contact-dropdown.contact-dropdown:hover > a {
  color: #00a3c8;
}
.navigation .container .navigation-tabs .contact-dropdown:hover:before {
  border-top: 4px solid #00a3c8;
}
.navigation .container .navigation-tabs .contact-dropdown.rotate:before {
  transform: rotate(180deg);
}
@media only screen and (min-width: 901px) {
  .navigation .container .navigation-tabs .contact-dropdown:before {
    content: "\a";
    position: absolute;
    right: 10px;
    height: 0;
    width: 0;
    right: -13px;
    top: 9px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666;
    cursor: pointer;
    transition: all 0.4s;
  }
}
.navigation .container .navigation-tabs .contact-dropdown:hover .dropdown {
  display: block;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background: #00a3c8;
}

.sidebarMenuInner {
  margin: 75px 0 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner .list-item {
  padding: 20px 0;
}
.sidebarMenuInner .list-item ul {
  padding: 0;
}

.sidebarMenuInner #lokacija {
  position: relative;
}
.sidebarMenuInner #lokacija.rotate:before {
  transform: rotate(180deg);
}
.sidebarMenuInner #lokacija:before {
  content: "\a";
  content: "\a";
  position: absolute;
  height: 0;
  width: 0;
  right: calc(50% - 50px);
  top: 28px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  cursor: pointer;
  transition: all 0.4s;
}

.sidebarMenuInner .lokacije {
  background: #fff;
}

.sidebarMenuInner .lokacije a {
  color: #00a3c8;
}

.sidebarMenuInner li {
  text-align: center;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type=checkbox]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  height: 22px;
  width: 22px;
}
@media only screen and (min-width: 901px) {
  .sidebarIconToggle {
    display: none;
  }
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #808080;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle {
  position: fixed;
}

input[type=checkbox]:checked ~ .sidebarIconToggle .spinner {
  background: #fff;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body * {
  box-sizing: border-box;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style-type: none;
}

#contact .content {
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  #contact .content .left-side h3 {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  #contact .content .left-side {
    max-width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  #contact .content .left-side {
    max-width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  #contact .content .right-side h2 {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  #contact .content .right-side .info-box {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 768px) {
  #contact .content .right-side {
    flex-direction: column;
  }
}

.content {
  display: flex;
  padding-top: 60px;
  max-width: 1200px;
  padding: 60px 15px 15px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

.content.appointment {
  max-width: 1000px;
}

.right-side {
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .right-side {
    display: flex;
    order: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  .right-side {
    flex-direction: column;
  }
}

.info-box {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  box-sizing: border-box;
  padding: 30px;
  border: 10px solid #eee;
}
@media only screen and (max-width: 370px) {
  .info-box {
    padding: 20px 7px;
  }
}
.info-box h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  color: #333;
  background-image: url("../img/svg/clock.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.info-box .row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed #00a3c8;
}
.info-box .row.contact {
  flex-direction: column;
  border: none;
  padding: 20px 0 0;
}
.info-box .row.contact .social {
  display: flex;
}
.info-box .row.contact .social a {
  margin-bottom: 0;
}
.info-box .row.contact .social .facebook {
  padding: 0;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  background-image: url("../img/svg/blue-icons/facebook.svg");
}
.info-box .row.contact .social .instagram {
  padding: 0;
  height: 20px;
  width: 20px;
  background-image: url("../img/svg/blue-icons/instagram.svg");
}
.info-box .row.contact a {
  cursor: pointer;
  color: #777;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 380px) {
  .info-box .row.contact a {
    font-size: 14px;
  }
}
.info-box .row.contact a:nth-of-type(1) {
  background-image: url("../img/svg/blue-icons/phone.svg");
}
.info-box .row.contact a:nth-of-type(2) {
  background-image: url("../img/svg/blue-icons/mail.svg");
}
.info-box .row.contact a:nth-of-type(3) {
  background-image: url("../img/svg/blue-icons/location.svg");
}
.info-box .row p {
  font-size: 15px;
  font-weight: 400;
  color: #777;
  margin: 0;
}

.location {
  max-width: 360px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .location {
    margin-right: 30px;
  }
}
.location h2 {
  position: relative;
  color: #333;
  font-size: 18px;
}
.location h2:after {
  bottom: -10px;
  content: "";
  height: 2px;
  width: 50px;
  left: 0;
  position: absolute;
  background: #00a3c8;
}
.location ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.location ul li {
  font-size: 15px;
  font-weight: 300;
  color: #737373;
  list-style-type: none;
  padding: 10px 0;
  margin: 5px 0 10px;
  border-bottom: 1px dashed #d3d3d3;
}
.location ul li.active {
  color: #00a3c8;
  font-weight: bold;
}
.location ul li a {
  cursor: pointer;
}

.left-side {
  width: 100%;
  max-width: 620px;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  .left-side {
    max-width: 650px;
    margin: 40px auto 0;
    order: 1;
  }
}
.left-side h3 {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin: 18px 0 40px;
}
.left-side h3:after {
  bottom: -10px;
  content: "";
  height: 2px;
  width: 50px;
  left: 0;
  position: absolute;
  background: #00a3c8;
}
.left-side iframe {
  width: 100%;
  height: 375px;
}
.left-side form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.left-side form label {
  margin-bottom: 10px;
}
.left-side form input {
  border: 1px solid #e0dede;
  margin-bottom: 10px;
  height: 40px;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
}
.left-side form textarea {
  border: 1px solid #e0dede;
  padding: 10px;
  outline: none;
  resize: none;
  font-size: 14px;
}
.left-side form button {
  border: none;
  background: #00a3c8;
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

footer {
  background: #111;
  padding: 40px 0 60px;
  margin-top: 60px;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}
footer .col {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 25%;
  margin-top: 10px;
}
@media only screen and (max-width: 1100px) {
  footer .col {
    width: 45%;
  }
}
@media only screen and (max-width: 600px) {
  footer .col {
    width: 100%;
  }
}
footer .col .social {
  display: flex;
}
footer .col-1 {
  padding-right: 40px;
}
footer .col-1 .title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 45px;
}
footer .col-1 .title:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/snake.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
footer .col-1 .title h1 {
  font-size: 22px;
  margin: 0;
  color: #00a3c8;
}
footer .col-1 .title p {
  margin: 0;
  color: gray;
  line-height: 12px;
  font-size: 13px;
}
footer .col-1 .text {
  color: #777;
  font-weight: 300;
  font-size: 13px;
}
footer h5 {
  position: relative;
  letter-spacing: 0.5px;
  margin: 0 0 35px;
}
footer h5:after {
  bottom: -10px;
  content: "";
  height: 2px;
  width: 30px;
  left: 0;
  position: absolute;
  background: #00a3c8;
}
footer a {
  cursor: pointer;
  color: #777;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px;
  margin-bottom: 10px;
}
footer a.facebook {
  padding: 0;
  height: 20px;
  width: 20px;
  background-size: 15px;
  background-image: url("../img/svg/blue-icons/facebook.svg");
}
footer a.instagram {
  padding: 0;
  height: 20px;
  width: 20px;
  margin-left: 3px;
  background-size: 15px;
  background-position: center 3px;
  background-image: url("../img/svg/blue-icons/instagram.svg");
}
footer a.telephone {
  background-image: url("../img/svg/blue-icons/phone.svg");
}
footer a.work-hours {
  background-image: url("../img/svg/blue-icons/clock.svg");
}
footer a.email {
  background-image: url("../img/svg/blue-icons/mail.svg");
}
footer a.address {
  background-image: url("../img/svg/blue-icons/location.svg");
}

/*# sourceMappingURL=contact.css.map */
