@import url("https://fonts.googleapis.com/css?family=Varela+Round");
.social-contact {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00a3c8;
}
@media only screen and (max-width: 900px) {
  .social-contact {
    display: none;
  }
}
.social-contact .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}
.social-contact .container a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 15px;
  font-weight: 300;
  padding-left: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.social-contact .container a:nth-of-type(1) {
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 0 auto 0 0;
  background-image: url("../img/svg/facebook.svg");
}
.social-contact .container a:nth-of-type(2) {
  background-image: url("../img/svg/phone.svg");
}
.social-contact .container a:nth-of-type(3) {
  background-image: url("../img/svg/clock.svg");
}
.social-contact .container a:nth-of-type(4) {
  background-image: url("../img/svg/mail.svg");
}

.navigation {
  display: flex;
  align-items: center;
  height: 80px;
}
.navigation .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
}
.navigation .container .navigation-tabs {
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .navigation .container .navigation-tabs > li:nth-of-type(n + 2) {
    display: none;
  }
}
.navigation .container .navigation-tabs > li:before {
  content: "";
  height: 3px;
  width: 3px;
}
.navigation .container .navigation-tabs > li > a {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  margin-left: 35px;
  text-decoration: none;
}
.navigation .container .navigation-tabs > li > a.active {
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li > a:hover {
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li:first-of-type {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding-left: 45px;
}
.navigation .container .navigation-tabs > li:first-of-type a {
  margin-left: 0;
}
.navigation .container .navigation-tabs > li:first-of-type:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/svg/snake.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.navigation .container .navigation-tabs > li:first-of-type h1 {
  font-size: 26px;
  margin: 0;
  color: #00a3c8;
}
.navigation .container .navigation-tabs > li:first-of-type h1 span {
  color: #333;
}
.navigation .container .navigation-tabs > li:first-of-type p {
  margin: 0 0 -9px;
  color: gray;
}
.navigation .container .navigation-tabs .dropdown {
  position: absolute;
  display: none;
  transition: all .4s ease-in-out;
  padding: 0;
  right: 0;
  margin: 0;
  top: calc(100%);
  background: #fff;
  white-space: nowrap;
  border: 1px solid #eee;
  z-index: 1;
  box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, 0.51);
  border: none;
}
.navigation .container .navigation-tabs .dropdown li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
  color: #666;
}
.navigation .container .navigation-tabs .dropdown li:hover {
  background: #00a3c8;
  color: #fff;
}
.navigation .container .navigation-tabs .contact-dropdown {
  position: relative;
}
.navigation .container .navigation-tabs .contact-dropdown:hover .dropdown {
  display: block;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background: #00a3c8;
}

.sidebarMenuInner {
  margin: 75px 0 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner .list-item {
  padding: 20px 0;
}
.sidebarMenuInner .list-item ul {
  padding: 0;
}

.sidebarMenuInner .lokacije {
  background: #fff;
}

.sidebarMenuInner .lokacije a {
  color: #00a3c8;
}

.sidebarMenuInner li {
  text-align: center;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  height: 22px;
  width: 22px;
}
@media only screen and (min-width: 901px) {
  .sidebarIconToggle {
    display: none;
  }
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #808080;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle {
  position: fixed;
}

input[type=checkbox]:checked ~ .sidebarIconToggle .spinner {
  background: #fff;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body * {
  box-sizing: border-box;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style-type: none;
}

.slide-show .container {
  position: relative;
}
.slide-show .container img {
  width: 100%;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  33% {
    left: 0%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  66% {
    left: -100%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
.slide-show .container #slider {
  overflow: hidden;
  position: relative;
  max-height: 500px;
}
.slide-show .container #slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
.slide-show .container #slider figure img {
  width: 20%;
  float: left;
}
.slide-show .container .cubes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: 170px;
  left: 0;
  top: 100%;
}
.slide-show .container .cubes > a {
  cursor: pointer;
  width: 100%;
  height: 170px;
  position: relative;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center top 30px;
  transition: all .2s ease;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .slide-show .container .cubes > a {
    width: calc(100% / 2);
    height: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .slide-show .container .cubes > a {
    width: calc(100% / 4);
    height: 200px;
  }
}
.slide-show .container .cubes > a h5 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  font-size: 16px;
  color: #fff;
}
.slide-show .container .cubes > a:first-of-type {
  background-color: #02A3C8;
  background-image: url("../img/svg/stethoscope.svg");
}
.slide-show .container .cubes > a:nth-of-type(2) {
  background-color: #0297B9;
  background-image: url("../img/svg/chat.svg");
}
.slide-show .container .cubes > a:nth-of-type(3) {
  background-color: #018EAF;
  background-image: url("../img/svg/doctor.svg");
}
.slide-show .container .cubes > a:last-of-type {
  background-color: #0186A4;
  background-image: url("../img/svg/heart.svg");
}
.slide-show .container .cubes > a:hover {
  background-size: 73px;
  opacity: .8;
}

/*# sourceMappingURL=homepage.css.map */
